@import './constants.css';

* {
  box-sizing: border-box;
  /* outline: solid red 1px; */
}

html {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

/* <editor-fold desc="General styles">*/
.root-container {
  display: flex;
  position: relative;
  flex-direction: column;
  /*justify-content: space-between;*/
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.content {
  max-width: 100%;
  width: 1322px;
  margin: 32px auto;
  padding: 0 64px;
}

.viewport-shading {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-viewport-shading);
  width: 100%;
  height: 100%;
}
/* </editor-fold desc="General styles">*/

/* <editor-fold desc="General modifiers">*/
.reset-list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.reset-list-element {
  margin-left: 0;
  padding-left: 0;
}

.cursor-pointer {
  cursor: pointer;
}
/* </editor-fold desc="General modifiers">*/

/* <editor-fold desc="Header">*/
.header {
  background-color: var(--color-red-dark-general);
}

.content--header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 2rem;
  row-gap: 1rem;
  margin-top: 16px;
  margin-bottom: 16px;
}
/* </editor-fold desc="Header">*/

/* <editor-fold desc="Navigation menu component">*/
.nav-menu-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  column-gap: 16px;
  align-items: center;
  height: 100%;
}

.nav-link {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.04em;
  color: var(--color-white);
  text-shadow: var(--vulemetric-text-shadow);
}

.nav-link:hover {
  color: var(--color-gold-light-xl);
  text-shadow: var(--hover-glow-ts-general);
}

.nav-link:active {
  color: var(--color-gold-light-xl);
  text-shadow: var(--active-glow-ts-general);
}

.item__link--current {
  color: var(--color-gold-light-l);
  text-shadow: var(--current-glow-ts-general);
}
/* </editor-fold>*/

/* <editor-fold desc="Logo component">*/
.logo {
  display: flex;
  column-gap: 16px;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.logo__img {
  display: block;
  width: 64px;
  height: 64px;
}

.logo__name {
  display: inline-block;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.04em;
  color: var(--color-gray-light);
  text-shadow: var(--vulemetric-text-shadow);
}
/* </editor-fold desc="Logo component">*/

.main {
  /*flex-grow: 1;*/
}

/*<editor-fold desc="Main section">*/
.content--main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4rem;
  margin: 8rem 0;
}

.page-section__heading {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

.page-section__text-block {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 100%;
  max-width: 512px;
}

.text-block__paragraph {
  font-size: 1.25rem;
  margin: 0;
  width: 100%;
}
/*</editor-fold desc="Main section">*/

.footer {
  margin-top: auto;
}

/* <editor-fold desc="Modal window">*/
.modal-window__container-wrp {
  --modal-window-width: 608px;
  --modal-window-height: 184px;
  --modal-window-viewport-padding: 16px;
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 25%;
  transform: translate(-50%, 25%);
  /*bottom: 5%;*/
  /*left: calc(50% - var(--modal-window-width) / 2);*/
  width: calc(var(--modal-window-width) + var(--modal-window-viewport-padding) * 2);
  max-width: 100%;
  min-height: calc(var(--modal-window-height) + var(--modal-window-viewport-padding) * 2);
  padding: var(--modal-window-viewport-padding);
}

.modal-window__container {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  background-color: var(--color-white);
  padding: 16px 48px 48px;
}

.modal-window__heading-container {
  display: flex;
  align-items: center;
  column-gap: 32px;
}

.modal-window__state-icon {
  display: block;
  width: 64px;
  height: 64px;
}

.modal-window__state-icon[src=""] {
  /*noinspection CssUnknownTarget*/
  content:url("data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==");
}

.modal-window__heading-text-label {
  flex-grow: 1;
  height: fit-content;
  padding-top: 8px;
}

.modal-window__btn-close-base {
  border-width: 2px;
  border-radius: 24px;
  width: 48px;
  height: 48px;
  padding: 0;
}

.modal-window__content-container {
  padding-left: 16px;
  padding-right: 16px;
}

.modal-window__content-paragraph {
  margin: 0;
}
/* </editor-fold desc="Modal window">*/

/* <editor-fold desc="Test styles">*/
.demo-container {
  user-select: none;
}

.demo-red {
  color: #FF0000;
}
/* </editor-fold desc="Test styles">*/

/* <editor-fold desc="Media">*/
@media screen and (max-width: 1024px) {
  /* Points
   * 100vw  |  margin  *
   * ----------------- *
   * 1024   |  128     *
   * 390    |  0       *
   * */
  /* Points
   * 100vw  |  row-gap  *
   * -----------------  *
   * 1024   |  64       *
   * 390    |  16       *
   * */
  .page-section {
    margin: calc((64 / 317) * 100vw - 24960px / 317) 0;
    row-gap: calc((24 / 317) * 100vw - 4288px / 317);
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 390px) {
  .page-section {
    margin: 0;
    row-gap: 16px;
  }
}
/* </editor-fold desc="Media">*/
