* {
  box-sizing: border-box;
  /* outline: solid red 1px; */
}

/* <editor-fold desc="General styles">*/
.root-container {
  display: flex;
  position: relative;
  flex-direction: column;
  /*justify-content: space-between;*/
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
}

.content {
  max-width: 100%;
  width: 1322px;
  margin: 0 auto;
  padding: 0 50px;
}
/* </editor-fold desc="General styles">*/

.content--header {
  display: flex;
}

.main {
  /*flex-grow: 1;*/
}

.footer {
  margin-top: auto;
}

/* <editor-fold desc="Logo component">*/
.logo {
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.logo__img {
  width: 64px;
  height: 64px;
}

.logo__name {
  font-size: 32px;
}
/* </editor-fold desc="Logo component">*/

/* <editor-fold desc="Test styles">*/
.demo-container {
  user-select: none;
}

.demo-red {
  color: #FF0000;
}
/* </editor-fold desc="Test styles">*/
