.cart {
    width: 25em;
    /* display: flex; */
    border-radius: 5px;
    background-color: rgb(211, 155, 155);
    text-align: center;
    box-shadow: 5px 5px 5px 5px rgb(68, 38, 38);

}

.cart-title {
    font-weight: 700;
}

.cart-desc {
    height: 70px;
    /* overflow-y: hidden; */
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .cart-price__container {
    display: inline;
    white-space: nowrap;
} */

.cart-price__container .cart-price__field:only-of-type .cart-price__value {
    text-decoration: none !important;
}

.cart-price__field {
    display: inline;
}

.cart-price__value {
    text-decoration: line-through;
    text-decoration-color: red;
}

.cart-price__container .cart-price__field:only-of-type {
    font-weight: 500;
    text-decoration: none !important;
    color: inherit;
}

.cart-price__value__discount {
    color: red;
    text-decoration: none !important;
}

.cart__image {
    display: inline;
    width: 75px;
    height: 100px;
}

.cart__add-to-basket {
    width: auto;
}

.cart__add-to-basket .form-field-container {
    border: none;
    width: inherit;
}

.cart__add-to-basket .form__input,
.cart__add-to-basket .form-field-container,
.cart__add-to-basket .form-field {
    display: inline;
    width: inherit !important;
}