.about-us__contributor-section {
  display: flex;
  column-gap: 32px;
  width: 100%;
}

.about-us__contributor-photo {
  max-width: 256px;
}

.about-us__contributor-section-right-side {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  row-gap: 16px;
}

@media screen and (max-width: 768px) {
  .about-us__contributor-section {
    align-items: center;
    flex-direction: column;
  }
}
